
{% extends 'base.html '%}
<!-- {% load static %} -->

{% block content-style-1 %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% load static %}

<script src="{% static 'to_do_app/js/jquery-3.5.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'to_do_app/css/styler.css' %}">

<script src="{% static 'to_do_app/js/indexjs.js' %}"></script>



{% endblock %}

{% block content-1 %}

<div class="main">
    <p>To do App Django-1</p>
</div>

<div class="main-container-1"> 
        <input type="text" id="textbox-1" name="name" width="50px">
        <button type="button" id ="btn-2" class="btn btn-primary">Create</button>
</div>




{% endblock %}