.main p{
    font-size: 30px;
    color: rgb(105, 37, 231);
    text-decoration: underline
}


.main{
    display: flex;
    border: green;
    justify-content: center;
}

.main-container-1{
    display: flex;
    border: green;
    padding: 120px;
    justify-content: center;
}

#task-containers{
    display: flex;
    justify-content: center;

}



.card-container {
    margin: 2px;
    padding: 10px;
    border: 2px solid #00000060;
    border-radius: 6px;
}
.pending-task-card-container {
    margin: 2px;
    padding: 10px;
    border: 2px solid #00000060;
    border-radius: 6px;
}
.completed-task-container {
    margin: 2px;
    padding: 10px;
    border: 2px solid #00000060;
    border-radius: 6px;
}

.main-container-1 input{
    width: 500px;
}

.mb-1{
    display: flex;
    width: 300px;
    justify-content: center;
    margin: auto;
}

.card-body{
    display: flex;
    justify-content: space-around;
}

.card-body button{
    padding-bottom: 16px;
}

.card{
    border: 1px solid rgba(0,0,0,.5);
    /* overflow: hidden; */
    /* flex-wrap: wrap; */
    /* word-wrap: break-word; */
    overflow: auto;
    word-break: break-all;
    cursor: pointer;

}

#task-card-id{
    cursor: pointer;
}

