.main p{
    font-size: 30px;
    color: rgb(105, 37, 231);
}


.main{
    display: flex;
    border: green;
    justify-content: center;
}

.main-container-1{
    display: flex;
    border: green;
    padding: 120px;
    justify-content: center;
}

.main-container-1 input{
    width: 500px;
}

.mb-1{
    display: flex;
    width: 300px;
    justify-content: center;
    margin: auto;
}

.card-body{
    display: flex;
    justify-content: center;
}



.card{
    border: 1px solid rgba(0,0,0,.5);
}

#task-card-id{
    cursor: pointer;
}